/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }

.subData{
	font-size: 12px;
	color: 009900;
}

.subData td{
	padding-top: 0.5px !important;
	padding-bottom: 0.5px !important;
	
}

.rank{
	margin-top: 15px !important;
	margin-left: 40px !important;
	font-size: 20px !important;
}

.container{
	margin-top: 3%;
}

#analysisGraph{

	margin-left: -96px;
}

.background-image {
	background-image: url('http://pre02.deviantart.net/41ba/th/pre/i/2012/241/0/4/fallout_terminal_texture_by_team_machine-d5cubxx.jpg');
	background-size: cover;
	display: block;
	z-index: 1;
	left: 0;
	position: fixed;
	right: 0;
	top: -1;
	-webkit-filter: opacity(30%) sepia(30%);
	height: 100%;
}

.content{
  position: relative;
  z-index: 2;

}


#nameBox{
	border: 0;
}

.mainGraph{
	padding-left: 15%;
    margin-top: 17%;
	width: 100%;
}

table th {
    width: auto !important;
	text-align:center;
	border: 1px dashed green;
}

table tr{
	text-align:center;
	border: 1px dashed green;
}

#GraphNotes > p> .title{
	font-size:14px;
}

#GraphNotes{
	font-size:12px;
	border: 1px green dashed;
    padding-left: 2%;
    padding-right: 2%;
	margin-top: 12%;
}

#positionNav > li > a{
	border-bottom-color: green;
}

.active > a{
	border-bottom-color: #222 !important;
	border-top-color: green !important;
	border-left-color: green !important;
	border-right-color: green !important;
}

#DetailedAnalysis{
	margin-top: -1.6%;
}
