<div class = "container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<img border="0" alt="ProfileIcon" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/profileicon/{{playerData.ProfileIcon}}.png" width="100" height="100" />
				</div>

				<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
					<p class="rank">{{username}}</p>
					<p class="rank">{{playerData.Tier}} {{playerData.Division}}</p>
				</div>
			</div>
			
			
			
			<div class="mainGraph">
				<canvas id="analysisGraph" tc-chartjs-radar chart-options="options" chart-data="data" auto-legend/>
			</div>
			
			<div id="graphNotes">
				<h3>Graph Notes:</h3>
				<p> 1. <span class="title"><strong><em>KDA</strong></em></span>: (Kills + Assists)/Deaths (if Deaths < 0, Deaths = 1)</p>
				<p> 2. <span class="title"><strong><em>Objective Control</strong></em></span>: this value measures a player's ability to influence his team's controling of neutral objectives(e.g. dragons) and team objectives(e.g. towers).</p>
				<p> 3. <span class="title"><strong><em>Battle Efficiency</strong></em></span>: this value measures how effectively a player utilizes the gold earned based on the positions played. For example, if an adc earns little gold but he deals a lot of damage, this value tends to be bigger.</p>
			</div>
			
		</div>
		<div id="DetailedAnalysis" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h1> Detailed Analysis</h1>
			<p>Data from recent {{playerData.gamesAnalyzed}} matches</p>
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<p>Positions plays: </p>
					<p>&nbspTop: {{playerData.TopPlayed}}</p>
					<p>&nbspMID: {{playerData.MidPlayed}}</p>
					<p>&nbspJUNGLE: {{playerData.JunglePlayed}}</p>
					<p>&nbspADC: {{playerData.AdcPlayed}}</p>
					<p>&nbspSUPPORT: {{playerData.SupportPlayed}}</p>
				</div>
				
				
				
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<canvas tc-chartjs-radar chart-options="options" chart-data="versatility"/>
				</div>
			</div>
			
			<ul class="nav nav-tabs nav-justified" id="positionNav" role="tablist">
				<li role="presentation" class="active"><a href="#General" aria-controls="General" role="tab" data-toggle="tab">Home</a></li>
				<li role="presentation"><a href="#TOP" aria-controls="Top" role="tab" data-toggle="tab">TOP</a></li>
				<li role="presentation"><a href="#JUNGLE" aria-controls="Jungle" role="tab" data-toggle="tab">JUNGLE</a></li>
				<li role="presentation"><a href="#MID" aria-controls="Mid" role="tab" data-toggle="tab">MID</a></li>
				<li role="presentation"><a href="#ADC" aria-controls="Adc" role="tab" data-toggle="tab">ADC</a></li>
				<li role="presentation"><a href="#SUPPORT" aria-controls="Support" role="tab" data-toggle="tab">SUPPORT</a></li>
			</ul>
			
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="General">				
					<table class="table table-condensed table-bordered" >
						<thead>
							<tr>
								<th/>
								<th>YOU</th>
								<th>{{playerData.Tier}}</th>
								<th>{{playerData.NextTier}}</th>
								<th>Assessment</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td>  
									<div class="wrapper">
										WIN RATE
										<div class="tooltip">I am a tooltip!</div>
									</div>
								</div>
							</td>
							<td>{{playerData.WINRate_Raw}}%</td>
							<td/>
							<td/>
						</tr>
						<tr>
							<td ng-click= "kdaSubShow = !kdaSubShow" ng-init = "kdaSubShow = false">KDA</td>
							<td>{{playerData.KDA_Raw}}</td>
							<td>{{playerData.KDA_ThisTier}}</td>
							<td>{{playerData.KDA_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="kdaSubShow">
							<td>Kills</td>
							<td>{{playerData.Kill_player}}</td>
							<td>{{playerData.Kills_ThisTier}}</td>
							<td>{{playerData.Kills_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="kdaSubShow">
							<td>Deaths</td>
							<td>{{playerData.Death_player}}</td>
							<td>{{playerData.Deaths_ThisTier}}</td>
							<td>{{playerData.Deaths_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="kdaSubShow">
							<td>Assists</td>
							<td>{{playerData.Assist_player}}</td>
							<td>{{playerData.Assists_ThisTier}}</td>
							<td>{{playerData.Assists_NextTier}}</td>
						</tr>
						<tr>
							<td ng-click= "visionSubShow = !visionSubShow" ng-init = "visionSubShow = false">VISION CONTROL</td>
							<td>{{playerData.VisionControl_Raw}}</td>
							<td>{{playerData.VisionControl_ThisTier}}</td>
							<td>{{playerData.VisionControl_NextTier}}</td>
							<td>{{playerData.VisionControl_Assessment}}</td>
						</tr>
						<tr class="subData" ng-if="visionSubShow">
							<td>Vision Wards Purchased</td>
							<td>{{playerData.VisionWards}}</td>
							<td>{{playerData.VisionWards_ThisTier}}</td>
							<td>{{playerData.VisionWards_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="visionSubShow">
							<td>Wards Killed</td>
							<td>{{playerData.WardsKilled}}</td>
							<td>{{playerData.WardsKilled_ThisTier}}</td>
							<td>{{playerData.WardsKilled_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="visionSubShow">
							<td>Wards Placed</td>
							<td>{{playerData.WardsPlaced}}</td>
							<td>{{playerData.WardsPlaced_ThisTier}}</td>
							<td>{{playerData.WardsPlaced_NextTier}}</td>
						</tr>
						<tr>
							<td ng-click= "objSubShow = !objSubShow" ng-init = "objSubShow = false">OBJECTIVE CONTROL</td>
							<td>{{playerData.TargetControl_Raw}}</td>
							<td>{{playerData.TargetControl_ThisTier}}</td>
							<td>{{playerData.TargetControl_NextTier}}</td>
							<td>{{playerData.TargetControl_Assessment}}</td>
						</tr>
						<tr class="subData" ng-if="objSubShow">
							<td>Dragons Killed</td>
							<td>{{playerData.DragonsKilled}}</td>
							<td>{{playerData.Dragons_ThisTier}}</td>
							<td>{{playerData.Dragons_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="objSubShow">
							<td>Rift Heralds Killed</td>
							<td>{{playerData.RiftHeraldsKilled}}</td>
							<td>{{playerData.RiftHerald_ThisTier}}</td>
							<td>{{playerData.RiftHerald_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="objSubShow">
							<td>Barons Killed</td>
							<td>{{playerData.BaronsKilled}}</td>
							<td>{{playerData.Barons_ThisTier}}</td>
							<td>{{playerData.Barons_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="objSubShow">
							<td>Towers Killed</td>
							<td>{{playerData.TowersKilled}}</td>
							<td>{{playerData.Towers_ThisTier}}</td>
							<td>{{playerData.Towers_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="objSubShow">
							<td>Inhibitors Killed</td>
							<td>{{playerData.InhibitorsKilled}}</td>
							<td>{{playerData.Inhibitors_ThisTier}}</td>
							<td>{{playerData.Inhibitors_NextTier}}</td>
						</tr>
						<tr>
							<td>KILL CONTRIBUTION</td>
							<td>{{playerData.KillContribution_Raw}}%</td>
							<td>{{playerData.KillContribution_ThisTier}}%</td>
							<td>{{playerData.KillContribution_NextTier}}%</td>
							<td>{{playerData.KillContribution_Assessment}}</td>
						</tr>
						<tr>
							<td ng-click= "battleSubShow = !battleSubShow" ng-init = "battleSubShow = false">BATTLE EFFICIENCY</td>
							<td>{{playerData.BE_RAW}}</td>
							<td>{{playerData.BE_ThisTier}}</td>
							<td>{{playerData.BE_NextTier}}</td>
							<td>{{playerData.BE_Assessment}}</td>
						</tr>
						<tr class="subData" ng-if="battleSubShow">
							<td>Gold Per Min</td>
							<td>{{playerData.GPM}}</td>
							<td>{{playerData.GPM_ThisTier}}</td>
							<td>{{playerData.GPM_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="battleSubShow">
							<td>DamageTaken Per Match</td>
							<td>{{playerData.damageTakenPerMatch}}</td>
							<td>{{playerData.DTPM_ThisTier}}</td>
							<td>{{playerData.DTPM_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="battleSubShow">
							<td>Damage to champions Per Match</td>
							<td>{{playerData.damageDealtToChampionsPerMatch}}</td>
							<td>{{playerData.DPM_ThisTier}}</td>
							<td>{{playerData.DPM_NextTier}}</td>
						</tr>
						<tr class="subData" ng-if="battleSubShow">
							<td>Healing Per Match</td>
							<td>{{playerData.healPerMatch}}</td>
							<td>{{playerData.H_ThisTier}}</td>
							<td>{{playerData.H_NextTier}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="TOP">
				<table class="table table-condensed table-bordered" >
					<thead>
						<tr>
							<th/>
							<th>YOU</th>
							<th>{{playerData.Tier}}</th>
							<th>{{playerData.NextTier}}</th>
							<th>Assessment</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>WIN RATE</td>
							<td>{{playerData.WinRate_TOP}}%</td>
						</tr>
						<tr>
							<td>Performance Details</td>
						</tr>
						<tr class="subData">
							<td>Gold Per Min</td>
							<td>{{playerData.GPM_TOP}}</td>
								<!--td>{{playerData.ThisTier.CS_zeroToTenPerMatch_TOP}}</td>
								<td>{{playerData.NextTier.CS_zeroToTenPerMatch_TOP}}</td-->
								</tr>
								<tr class="subData">
									<td>CS in the first 10 mins</td>
									<td>{{playerData.CS_zeroToTenPerMatch_TOP}}</td>
									<td>{{playerData.TOP.ThisTier.CS_zeroToTenPerMatch_TOP}}</td>
									<td>{{playerData.TOP.NextTier.CS_zeroToTenPerMatch_TOP}}</td>
								</tr>
								<tr class="subData">
									<td>CS Per Min</td>
									<td>{{playerData.CSPM_TOP}}</td>
									<td>{{playerData.TOP.ThisTier.CS_TOP}}</td>
									<td>{{playerData.TOP.NextTier.CS_TOP}}</td>
								</tr>
								<tr class="subData">
									<td>Damage Per Min</td>
									<td>{{playerData.DPM_TOP}}</td>
									<td>{{playerData.TOP.ThisTier.D_TOP}}</td>
									<td>{{playerData.TOP.NextTier.D_TOP}}</td>
								</tr>
								<tr class="subData">
									<td>DamageTaken Per Min</td>
									<td>{{playerData.DTPM_TOP}}</td>
									<td>{{playerData.TOP.ThisTier.DT_TOP}}</td>
									<td>{{playerData.TOP.NextTier.DT_TOP}}</td>
								</tr>
								<tr class="subData">
									<td>Healing Per Min</td>
									<td>{{playerData.H_TOP}}</td>
									<td>{{playerData.TOP.ThisTier.H_TOP}}</td>
									<td>{{playerData.TOP.NextTier.H_TOP}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="JUNGLE">
						<table class="table table-condensed table-bordered" >
							<thead>
								<tr>
									<th/>
									<th>YOU</th>
									<th>{{playerData.Tier}}</th>
									<th>{{playerData.NextTier}}</th>
									<th>Assessment</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WIN RATE</td>
									<td>{{playerData.WinRate_JG}}%</td>
								</tr>
								<tr>
									<td>Performance Details</td>
								</tr>
								<tr class="subData">
									<td>Gold Per Min</td>
									<td>{{playerData.GPM_JG}}</td>
								</tr>
								<tr class="subData">
									<td>CS in the first 10 mins</td>
									<td>{{playerData.CS_zeroToTenPerMatch_JG}}</td>
									<td>{{playerData.JG.ThisTier.CS_zeroToTenPerMatch_JG}}</td>
									<td>{{playerData.JG.NextTier.CS_zeroToTenPerMatch_JG}}</td>
								</tr>
								<tr class="subData">
									<td>CS Per Min</td>
									<td>{{playerData.CSPM_JG}}</td>
									<td>{{playerData.JG.ThisTier.CS_JG}}</td>
									<td>{{playerData.JG.NextTier.CS_JG}}</td>
								</tr>
								<tr class="subData">
									<td>Damage Per Min</td>
									<td>{{playerData.DPM_JG}}</td>
									<td>{{playerData.JG.ThisTier.D_JG}}</td>
									<td>{{playerData.JG.NextTier.D_JG}}</td>
								</tr>
								<tr class="subData">
									<td>DamageTaken Per Min</td>
									<td>{{playerData.DTPM_JG}}</td>
									<td>{{playerData.JG.ThisTier.DT_JG}}</td>
									<td>{{playerData.JG.NextTier.DT_JG}}</td>
								</tr>
								<tr class="subData">
									<td>Healing Per Min</td>
									<td>{{playerData.H_JG}}</td>
									<td>{{playerData.JG.ThisTier.H_JG}}</td>
									<td>{{playerData.JG.NextTier.H_JG}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="MID">
						<table class="table table-condensed table-bordered" >
							<thead>
								<tr>
									<th/>
									<th>YOU</th>
									<th>{{playerData.Tier}}</th>
									<th>{{playerData.NextTier}}</th>
									<th>Assessment</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WIN RATE</td>
									<td>{{playerData.WinRate_MID}}%</td>
								</tr>
								<tr>
									<td>Performance Details</td>
								</tr>
								<tr class="subData">
									<td>Gold Per Min</td>
									<td>{{playerData.GPM_MID}}</td>
								</tr>
								<tr class="subData">
									<td>CS in the first 10 mins</td>
									<td>{{playerData.CS_zeroToTenPerMatch_MID}}</td>
									<td>{{playerData.MID.ThisTier.CS_zeroToTenPerMatch_MID}}</td>
									<td>{{playerData.MID.NextTier.CS_zeroToTenPerMatch_MID}}</td>
								</tr>
								<tr class="subData">
									<td>CS Per Min</td>
									<td>{{playerData.CSPM_MID}}</td>
									<td>{{playerData.MID.ThisTier.CS_MID}}</td>
									<td>{{playerData.MID.NextTier.CS_MID}}</td>
								</tr>
								<tr class="subData">
									<td>Damage Per Min</td>
									<td>{{playerData.DPM_MID}}</td>
									<td>{{playerData.MID.ThisTier.D_MID}}</td>
									<td>{{playerData.MID.NextTier.D_MID}}</td>
								</tr>
								<tr class="subData">
									<td>DamageTaken Per Min</td>
									<td>{{playerData.DTPM_MID}}</td>
									<td>{{playerData.MID.ThisTier.DT_MID}}</td>
									<td>{{playerData.MID.NextTier.DT_MID}}</td>
								</tr>
								<tr class="subData">
									<td>Healing Per Min</td>
									<td>{{playerData.H_MID}}</td>
									<td>{{playerData.MID.ThisTier.H_MID}}</td>
									<td>{{playerData.MID.NextTier.H_MID}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="ADC">
						<table class="table table-condensed table-bordered" >
							<thead>
								<tr>
									<th/>
									<th>YOU</th>
									<th>{{playerData.Tier}}</th>
									<th>{{playerData.NextTier}}</th>
									<th>Assessment</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WIN RATE</td>
									<td>{{playerData.WinRate_ADC}}%</td>
								</tr>
								<tr>
									<td>Performance Details</td>
								</tr>
								<tr class="subData">
									<td>Gold Per Min</td>
									<td>{{playerData.GPM_ADC}}</td>
								</tr>
								<tr class="subData">
									<td>CS in the first 10 mins</td>
									<td>{{playerData.CS_zeroToTenPerMatch_ADC}}</td>
									<td>{{playerData.ADC.ThisTier.CS_zeroToTenPerMatch_ADC}}</td>
									<td>{{playerData.ADC.NextTier.CS_zeroToTenPerMatch_ADC}}</td>
								</tr>
								<tr class="subData">
									<td>CS Per Min</td>
									<td>{{playerData.CSPM_ADC}}</td>
									<td>{{playerData.ADC.ThisTier.CS_ADC}}</td>
									<td>{{playerData.ADC.NextTier.CS_ADC}}</td>
								</tr>
								<tr class="subData">
									<td>Damage Per Min</td>
									<td>{{playerData.DPM_ADC}}</td>
									<td>{{playerData.ADC.ThisTier.DT_ADC}}</td>
									<td>{{playerData.ADC.NextTier.DT_ADC}}</td>
								</tr>
								<tr class="subData">
									<td>DamageTaken Per Min</td>
									<td>{{playerData.DTPM_ADC}}</td>
									<td>{{playerData.ADC.ThisTier.DT_ADC}}</td>
									<td>{{playerData.ADC.NextTier.DT_ADC}}</td>
								</tr>
								<tr class="subData">
									<td>Healing Per Min</td>
									<td>{{playerData.H_ADC}}</td>
									<td>{{playerData.ADC.ThisTier.H_ADC}}</td>
									<td>{{playerData.ADC.NextTier.H_ADC}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="SUPPORT">
						<table class="table table-condensed table-bordered" >
							<thead>
								<tr>
									<th/>
									<th>YOU</th>
									<th>{{playerData.Tier}}</th>
									<th>{{playerData.NextTier}}</th>
									<th>Assessment</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WIN RATE</td>
									<td>{{playerData.WinRate_SUP}}%</td>
								</tr>
								<tr>
									<td>Performance Details</td>
								</tr>
								<tr class="subData">
									<td>Gold Per Min</td>
									<td>{{playerData.GPM_SUP}}</td>
								</tr>
								<tr class="subData">
									<td>CS in the first 10 mins</td>
									<td>{{playerData.CS_zeroToTenPerMatch_SUP}}</td>
									<td>{{playerData.SUP.ThisTier.CS_zeroToTenPerMatch_SUP}}</td>
									<td>{{playerData.SUP.NextTier.CS_zeroToTenPerMatch_SUP}}</td>
								</tr>
								<tr class="subData">
									<td>CS Per Min</td>
									<td>{{playerData.CSPM_SUP}}</td>
									<td>{{playerData.SUP.ThisTier.CS_SUP}}</td>
									<td>{{playerData.SUP.NextTier.CS_SUP}}</td>	
								</tr>
								<tr class="subData">
									<td>Damage Per Min</td>
									<td>{{playerData.DPM_SUP}}</td>
									<td>{{playerData.SUP.ThisTier.DT_SUP}}</td>
									<td>{{playerData.SUP.NextTier.DT_SUP}}</td>
								</tr>
								<tr class="subData">
									<td>DamageTaken Per Min</td>
									<td>{{playerData.DTPM_SUP}}</td>
									<td>{{playerData.SUP.ThisTier.DT_SUP}}</td>
									<td>{{playerData.SUP.NextTier.DT_SUP}}</td>
								</tr>
								<tr class="subData">
									<td>Healing Per Min</td>
									<td>{{playerData.H_SUP}}</td>
									<td>{{playerData.SUP.ThisTier.H_SUP}}</td>
									<td>{{playerData.SUP.NextTier.H_SUP}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>

		</div>
	</div>


	<style>
	.wrapper {
		cursor: help;
		position: relative;
		text-align: center;}

.wrapper .tooltip {
  bottom: 100%;
  color: white;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}
	</style>